@model CrimerForum.VM.Post.CreatePostVM


<div>
    <section class="section">
        <div class="section__header">
            <h2 class="section__title">Новый @Model.ForumName пост</h2>
        </div>
        <form asp-action="CreatePost" method="post" id="addPostForum" class="form">
            <div class="form__control">
                <label class="form__label">
                    Автор
                </label>
                <input disabled
                       value="@Model.AuthorName"
                       class="form__input"
                       placeholder="Автор"
                       type="text"
                       id="Author"
                       name="Author" />
            </div>
            <div class="form__control">
                <label class="form__label" asp-for="Title">
                    Название
                </label>
                <input class="form__input"
                       placeholder="Название"
                       asp-for="Title"
                       type="text" />
            </div>
            <div class="form__control">
                <label class="form__label" asp-for="Content">
                    Описание
                </label>
                <textarea class="form__input"
                          asp-for="Content"
                          placeholder="Описание"
                          cols="30"
                          rows="10"></textarea>
            </div>
            <input asp-for="ForumId" type="hidden" />
            <button class="form__submit-btn" type="submit">Создать пост</button>
        </form>
    </section>
</div>

