@model CrimerForum.VM.Forum.ForumIndexVM
@{
    ViewData["Title"] = "All";
}

<h1>Forums</h1>
<ul class="list-group">
    @foreach (var forum in Model.ForumList)
    {
        <li class="list-group-item">
            <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">@forum.Title</a>
            <p>@forum.Description</p>
        </li>
    }

</ul>
